<footer>
    <section class="social-media">
        <h4>Redes Sociales:</h4>
        <div class="conjunto-redes">
            <div class="red"><a href="https://www.facebook.com/cami.genco"><i class="fab fa-facebook"></i></i></a></div>
            <div class="red"><a href="https://www.instagram.com/camila.genco/"><i class="fab fa-instagram"></i></a></div>
            <div class="red"><a href="https://wa.me/5401144362933"><i class="fab fa-whatsapp"></i></a></div>
            <div class="red"><a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin"></i></a></div>
            <div class="red"><a href="mailto:gencocamila@gmail.com"><i class="fas fa-envelope"></i></a></div>
        </div>
        
    </section>
</footer>