<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sobre Mí</title>
</head>
<body>
    <header></header>
    <main class="me">
        <div class="cami-jpg">
            <img src="/images/aboutme/Cami.jpeg" alt="">
        </div>
        <div class="about-me">
            <div class="titular">
                <h3>Camila Genco</h3>
                <br>
                <h5>Traductora en construcción</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et tortor consequat id porta nibh venenatis cras. At erat pellentesque adipiscing commodo. Consectetur a erat nam at lectus urna duis convallis convallis. Sit amet porttitor eget dolor. </p>
            <div class="education">
                <h4>Educación</h4>
                <p>Instituto en Lenguas Vivas Juan Ramón Fernández</p>
            </div>
            <div class="redes">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </main>
</body>
</html>