<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%> 


<body class="about-me">
    <%- include("./partials/header")%> 
    <main class="me">
        <div class="cami-jpg">
            <img src="/images/aboutme/Cami.jpeg" alt="">
        </div>
        <div class="about-me">
            <div class="titular">
                <h3>Camila Genco</h3>
                <br>
                <h5>Traductora en construcción</h5>
            </div>
            <p>Hola! Soy Camila Genco, tengo 20 años y actualmente estoy cursando el segundo año del traductorado en ingles. 
                En mis tiempos libres me gusta leer, ver series  jugar con mi perro.
                Apunto a ser una traductora literaria para buscar en el mundo de inglés un espacio cómodo y tranquilo donde desarrollarme.
                Cualquier cosa que necesites contactame por mis redes!</p>
            <div class="education">
                <h4>Educación</h4>
                <p>Instituto en Lenguas Vivas Juan Ramón Fernández</p>
            </div>
            <div class="redes">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </main>
    <%- include("./partials/footer")%> 
    <%- include("./partials/scripts")%> 
</body>
</html>