<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%> 


<body>
    <header></header>
    <main class="me">
        <div class="cami-jpg">
            <img src="/images/aboutme/Cami.jpeg" alt="">
        </div>
        <div class="about-me">
            <div class="titular">
                <h3>Camila Genco</h3>
                <br>
                <h5>Traductora en construcci칩n</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et tortor consequat id porta nibh venenatis cras. At erat pellentesque adipiscing commodo. Consectetur a erat nam at lectus urna duis convallis convallis. Sit amet porttitor eget dolor. </p>
            <div class="education">
                <h4>Educaci칩n</h4>
                <p>Instituto en Lenguas Vivas Juan Ram칩n Fern치ndez</p>
            </div>
            <div class="redes">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </main>
</body>
</html>