<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header")%> 
    <main class="meme">
        <h1>FELIZ CUMPLEANIOS CAMI</h1>
        <img src="/images/meme/fc.jpg" alt="">
        <h5>no había presupuesto para los estilos</h5>
        <img src="/images/meme/dount.jpg" alt="">
    </main>
    <%- include("./partials/footer")%>
</body>
</html>