<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Servicios</title>
</head>
<body>
    <main>
        <div class="services">
            <section class="trad">
                <h3>Traducción, Corrección y Redacción</h3>
                <br>
                <ul>
                    <li>Traducción del ingles al español latinoamericano, al español neutro y viceversa</li>
                    <li>Traducción, corrección y redacción en amplios campos, tales como películas, series, libros y recursos humanos</li>
                </ul>
            </section>
            <section class="tasty">
                <h3>Comer cosas ricas</h3>
                <br>
                <ul>
                    <li>Amplios conocimientos culinarios, paladar 3/10</li>
                    <li>Me gusta la menta granizada</li>
                    <li>No me gusta la milanesa</li>
                </ul>
            </section>
            <section class="books">
                <h3>Leer y ver series</h3>
                <br>
                <ul>
                    <li>Amplio conocimiento ficcional dispuesto a compartir</li>
                    <li>Si los protagonistas son gays, es mi serie</li>
                </ul>
            </section>
        </div>
    </main>
</body>
</html>