* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Roboto,sans-serif;
}


:root {
    --color-naranja: #FF9642;
    --color-gris: #646464;
    --color-amarillo-fuerte: #FFE05D;
    --color-amarillo-claro: #FFF8CD;
}